footer{
    background-color: var(--color6);
    color: var(--color2);
    padding: 30px;
    display: flex;
    gap: 30px;
    justify-content:space-evenly;
}

.left_footer, .right_footer{
    width: 50%;
}


/* Google Karte*/
.googleMaps{
    width:100%;
    border-radius: 10px;
    height: 100%;;
}

/*Adrese*/
.left_footer dt{
    font-weight: 900;
    margin: 10px 0;
}

.left_footer dd{
    font-weight:100;
}

.left_footer dd a{
    color:var(--color2);
}

/*Forma*/

footer form textarea{
    height: 100px;
}

